* {
	font-family: verdana;
	margin: 0;
}
.header {
	width: 100%;
	height: 33vh;
	background-color: #72BE49;
	color: white;
	text-align: center;
	display: table;
}
.header h1 {
	font-weight: 200;
	display: table-cell;
	vertical-align: middle;
}
p {
	padding: 10px;
}
.row {
	clear: both;
}
.sm-cell, .lg-cell {
	float: left;
	box-sizing: border-box;
	padding: 40px;
}
@media(max-width: 480px) {
	.header h1 { 
		padding: 40px; 
		font-size: 7vh; 
	}
	.sm-cell {	
		width: 100%;
		font-size: 4vh;
	}
}
@media(min-width: 481px) {
	.header { 
		padding: 20px; 
		font-size: 3vh; 
	}
	.lg-cell {
		width: 33%;
		font-size: 2vh;		
	}
}
.img-resposive {
	max-width: 100%;
}